<?xml version="1.0" encoding="UTF-8"?>
<settings threads='4' screening='64' threshold='1.00e-02'>

<!-- <covarianceConstraints type='constant' 
 eigenvalueLower='0.01' eigenvalueUpper='Infinity' /> -->
<!-- <em name='LocalEm' purpose='screening' reuse='false' restarts='1' 
 maxSteps='2147483647' secondStageSteps='40' threshold='1.00e-02' 
 initial='1' minForNaN='16'/>
<em name='LocalEm' purpose='selection' reuse='true' restarts='32' 
 maxSteps='2147483647' secondStageSteps='50' threshold='1.00e-02' 
 initial='1' minForNaN='16'/> -->

<covarianceConstraints type='variable' multiplier='20' hasUpperBound='true' />
<em name='LocalEm' purpose='screening' reuse='false' restarts='1' maxSteps='500'
 secondStageSteps='40' threshold='1.00e-02' initial='1' minForNaN='16'/>
<em name='LocalEm' purpose='selection' reuse='true' restarts='32' maxSteps='500'
 secondStageSteps='50' threshold='1.00e-02' initial='1' minForNaN='16'/>
<em name='FullEm' purpose='estimation' reuse='true' restarts='64' maxSteps='500'
 secondStageSteps='0' threshold='1.00e-02' initial='1' minForNaN='16'/>
<log path='output' tmp='tmp'/>
</settings>
